<div class="raml-console-tab-list">
  <!-- Here we call the init function in our controller after every tab is created, though it's actually only ever ran once, on the last tab
       This ensures that all of the tabs are fully created.
       This addition (and the addition/removal of the "raml-console-init-tab" class) is nesseary to make it possible for us
       to expand the appropriate method.-->
  <div class="raml-console-tab raml-console-init-tab" ng-repeat="method in resource.methods" ng-click="showResource($event, $index)"  ng-init="init($last)" >
    <span class="raml-console-tab-label raml-console-tab-{{method.method}}">{{method.method.toLocaleUpperCase()}}</span>
  </div>
</div>
